// :host { 
// 	::ng-deep #dob-calendar .ui-inputtext {
//         width: 7em !important;
//     }
// }

.back-red {
    background-color: lightcoral;
    color: white;
    border-radius: 2px;
    font-size: 12px;
}