<form [formGroup]="reportSearchForm" class="row">
	<div class="col-md-2">
		<p-dropdown [options]="sites" formControlName="selectedSite" optionLabel="name" placeholder="Select a site"
			(onChange)="changeSite()"></p-dropdown>
	</div>
	<div class="col-md-2">
		<p-dropdown [options]="shifts" formControlName="selectedShift" optionLabel="name" placeholder="Select a shift"
			(onChange)="changeShift()"></p-dropdown>
	</div>
	<div class="col-md-3">
		<p-calendar formControlName="reportingDate" [maxDate]="maxDate" [readonlyInput]="true" [showIcon]="true"></p-calendar>
	</div>
</form>
<div class="row" *ngIf="usersReporting.length">
	<div class="col-md-12 mt-3">
		<p-card>
		<p-table [value]="usersReporting" [columns]="cols" [scrollable]="true" scrollHeight="25vw" [style.width]="'100%'">
			<ng-template pTemplate="colgroup" let-columns>
				<colgroup>
					<col *ngFor="let col of columns" [style.width]="col.width">
				</colgroup>
			</ng-template>
			<ng-template pTemplate="header" let-columns>
				<tr>
					<th *ngFor="let col of columns">
						{{col.header}}
					</th>
				</tr>
			</ng-template>
			<ng-template pTemplate="body" let-rowData>
				<tr>
					<td>
						<p-dropdown [options]="roles" [(ngModel)]="rowData.role" placeholder="Select a role"
							optionLabel="name" (onChange)="changeRole(rowData)"></p-dropdown>
					</td>
					<td>
						<p-dropdown [options]="rowData.users" [(ngModel)]="rowData.user" placeholder="Search a name"
							optionLabel="name" (onChange)="changeName(rowData)" 
							[disabled]="!rowData.role || !rowData.users || !rowData.users.length"
							[filter]="true" filterBy="value.name"></p-dropdown>
					</td>
					<td>
						<p-dropdown [options]="rowData.users" [(ngModel)]="rowData.user" placeholder="Search a user id"
							optionLabel="email" (onChange)="changeUserId(rowData)" 
							[disabled]="!rowData.role || !rowData.users || !rowData.users.length"
							[filter]="true" filterBy="value.email"></p-dropdown>
					</td>
					<td>
						<p-checkbox binary="true" [(ngModel)]="rowData.attendance" [disabled]="!rowData.user"></p-checkbox>
					</td>
					<td>
						<p-checkbox binary="true" [(ngModel)]="rowData.beard" [disabled]="!rowData.user"></p-checkbox>
					</td>
					<td>
						<p-checkbox binary="true" [(ngModel)]="rowData.uniform" [disabled]="!rowData.user"></p-checkbox>
					</td>
					<td>
						<p-checkbox binary="true" [(ngModel)]="rowData.shoes" [disabled]="!rowData.user"></p-checkbox>
					</td>
					<td>
						<p-checkbox binary="true" [(ngModel)]="rowData.socks" [disabled]="!rowData.user"></p-checkbox>
					</td>
					<td>
						<p-checkbox binary="true" [(ngModel)]="rowData.accessories" [disabled]="!rowData.user"></p-checkbox>
					</td>
					<td>
						<p-checkbox binary="true" [(ngModel)]="rowData.hair_cut" [disabled]="!rowData.user"></p-checkbox>
					</td>
					<td>
						<p-checkbox binary="true" [(ngModel)]="rowData.idf" [disabled]="!rowData.user"></p-checkbox>
					</td>
					<td pEditableColumn>
						<p-cellEditor>
							<ng-template pTemplate="input">
								<input pInputText type="text" [(ngModel)]="rowData.comments" [disabled]="!rowData.user">
							</ng-template>
							<ng-template pTemplate="output">
								{{rowData.comments}}
							</ng-template>
						</p-cellEditor>
					</td>
				</tr>
			</ng-template>
		</p-table>
		<p-footer>
			<button pButton type="button" label="Save" icon="pi pi-check" style="margin-right: .25em"></button>
		</p-footer>
	</p-card>
	</div>
</div>