<div class="row">
	<div class="col-md-2">
		<p-dropdown [options]="sites" [(ngModel)]="selectedSite" optionLabel="name" placeholder="Select a site"
			(onChange)="changeSite()"></p-dropdown>
	</div>
	<div class="col-md-2">
		<p-dropdown [options]="shifts" [(ngModel)]="selectedShift" optionLabel="name" placeholder="Select a shift"
			(onChange)="changeShift()"></p-dropdown>
	</div>
	<div class="col-md-2">
		<p-calendar [(ngModel)]="reportingDate" [maxDate]="maxDate" [readonlyInput]="true"></p-calendar>
	</div>
</div>
<div class="row">
	<div class="col-md-12 mt-3">
		<p-table [value]="usersReporting" [columns]="cols" [scrollable]="true" scrollHeight="25vw" [style.width]="'100%'">
			<ng-template pTemplate="colgroup" let-columns>
				<colgroup>
					<col *ngFor="let col of columns" [style.width]="col.width">
				</colgroup>
			</ng-template>
			<ng-template pTemplate="header" let-columns>
				<tr>
					<th *ngFor="let col of columns">
						{{col.header}}
					</th>
				</tr>
			</ng-template>
			<ng-template pTemplate="body" let-rowData>
				<tr>
					<td>
						<p-dropdown [options]="roles" [(ngModel)]="rowData.selectedRole" placeholder="Select a role"
							optionLabel="name"></p-dropdown>
					</td>
					<td>
						<p-dropdown [options]="roles" [(ngModel)]="rowData.selectedRole" placeholder="Select a role"
							optionLabel="name"></p-dropdown>
					</td>
					<td>
						<p-dropdown [options]="roles" [(ngModel)]="rowData.selectedRole" placeholder="Select a role"
							optionLabel="name"></p-dropdown>
					</td>
					<td>
						<p-checkbox binary="true" [(ngModel)]="rowData.attendance"></p-checkbox>
					</td>
					<td>
						<p-checkbox binary="true" [(ngModel)]="rowData.beard"></p-checkbox>
					</td>
					<td>
						<p-checkbox binary="true" [(ngModel)]="rowData.uniform"></p-checkbox>
					</td>
					<td>
						<p-checkbox binary="true" [(ngModel)]="rowData.shoes"></p-checkbox>
					</td>
					<td>
						<p-checkbox binary="true" [(ngModel)]="rowData.socks"></p-checkbox>
					</td>
					<td>
						<p-checkbox binary="true" [(ngModel)]="rowData.accessories"></p-checkbox>
					</td>
					<td>
						<p-checkbox binary="true" [(ngModel)]="rowData.hair_cut"></p-checkbox>
					</td>
					<td>
						<p-checkbox binary="true" [(ngModel)]="rowData.idf"></p-checkbox>
					</td>
					<td pEditableColumn>
						<p-cellEditor>
							<ng-template pTemplate="input">
								<input pInputText type="text" [(ngModel)]="rowData.comments" required>
							</ng-template>
							<ng-template pTemplate="output">
								{{rowData.comments}}
							</ng-template>
						</p-cellEditor>
					</td>
				</tr>
			</ng-template>
		</p-table>
	</div>
</div>