/* You can add global styles to this file, and also import other style files */
a { cursor: pointer }

.ui-datepicker table td {
    padding: 0em !important;
}

.ui-dropdown {
  width:100% !important;
}

.crossColor { 
	background-color: lightblue;
}
.otColor {
	background-color: yellow;
}
.gfColor {
	background-color: lightcoral; 
}
.idfColor {
	background-color: lightcyan;
}

.ui-widget,
.ui-widget .ui-widget {
  font-size: 10px !important;
}

.ui-calendar .ui-datepicker {
//   min-width: 80% !important;
//   width: 80% !important;
  line-height: 0.3 !important;
}
.ui-datepicker table {
	font-size: 10px !important;
}

.ui-inputtext {
  font-size: 10px !important;
}