/* You can add global styles to this file, and also import other style files */
a { cursor: pointer }

.ui-datepicker table td {
    padding: 0em !important;
}

.ui-dropdown {
  width:100% !important;
}

.crossColor { 
	background-color: lightblue;
}
.otColor {
	background-color: yellow;
}
.gfColor {
	background-color: lightcoral; 
}
.idfColor {
	background-color: lightcyan;
}