@mixin font-size($sizeValue) {
  font-size: ($sizeValue / 16) + rem;
}

@mixin ct-btn {
  border-radius: 2px;
  cursor: pointer;
  display: inline-block;
  font-weight: 600;
  text-align: center;
  text-decoration: none;
  font-size: 14px;
  border: none;
  line-height: 14px;
  height: 24px;
  padding: 0 12px;
  font-family: "Segoe UI", Arial, sans-serif !important;
}

@mixin dataGridCSS($dataGridHeight) {
  #dataGrid {
    height: #{$dataGridHeight};
  }

  .ui-table-scrollable-view {
    .ui-table-scrollable-body {
      max-height: calc(#{$dataGridHeight} - 110px) !important;
      min-height: calc(#{$dataGridHeight} - 110px) !important;
      td {
        .field-name {
          display: block;
        }
      }
    }
  }
  .ui-table-unfrozen-view {
    .ui-table-scrollable-body {
      max-height: calc(#{$dataGridHeight} - 93px) !important;
      min-height: calc(#{$dataGridHeight} - 93px) !important;
      td {
        .field-name {
          display: block;
        }
      }
    }
  }
  .ui-table-frozen-view {
    .ui-table-scrollable-body {
      max-height: calc(#{$dataGridHeight} - 110px) !important;
      min-height: calc(#{$dataGridHeight} - 110px) !important;
    }
  }
}
